dist/js/**/*.js linguist-language=JavaScript linguist-vendored=false
dist/css/**/*.css linguist-language=CSS linguist-vendored=false
car.min.js linguist-language=JavaScript linguist-vendored=false
*.html linguist-language=HTML
